* {
    box-sizing: border-box;
    /* float: left; */
  }
body{
    background-image: url("../images/vintage-concrete.png");
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    margin:0 auto;
}
h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    color: #4aaaa5;
}

.headshot{
    float: left;
}
.logo {
    float: left;
	background-color: #4aaaa5;
	border-bottom: 2px solid #cccccc;
	color: #ffffff;
	width: 360px;
	/* margin-bottom: 50px; */
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
    vertical-align: middle; 
    border-bottom: 2px solid #cccccc;
	background-color: #4aaaa5;
	height: 85px;
}
.main {
    float: left;
    margin-top: 175px;
    background: #ffffff;
    border: #dddddd 2px solid; 
}

nav {
    width: 270px;
    float: right;
    text-align: center;
    margin-right: 125px;
    width: 270px;
    text-align: center;
    margin-right: 125px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	/* float: left; */
	width: 33%;
	padding: 10px;
}

footer {
    width: 100%;
	padding: 10px;
	height: 35px;
	background-color: #666666;
	border-bottom: 2px solid #cccccc;
	color: #dddddd;
    text-align: center;
    vertical-align:botom;
    margin: 0 auto;
    float: left;
}